<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Good News of the Month</title>
</head>
<body>
    <div style = "background-color: rgb(75, 117, 255); text-align: center;">
        <h1 style = "color: white" class = "distance">Good News of this Month</h1>
        <hr>
    </div>
    <p>my own website</p>
    <div class  = "news">
        {% for article in articles %}
            <div class = "article {{ article.id }}">
                <p class = "date">{{ article.date }}</p>
                <img class = "img" src="{{ article.img }}" alt="News Image">
                <p class = "title">{{ article.title }}</p>
                <p class = "url">Want to know <a href = "{{ article.url }}">more</a>?</p>
                <hr>
            </div>
        {% else %}
            <p>No news found for this month.</p>
        {% endfor %}
    </div>
</body>
</html>
