<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Good News of the Month</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
                const articles = document.querySelectorAll('.article');
                
                let startingIndex = 0;
                
                function showarticle(index) {
                    articles.forEach(article => {
                        article.classList.remove('active');
                    });

                    articles[index].classList.add('active');
                }

                function shownextarticle() {
                    startingIndex++;

                    if (startingIndex >= articles.length) {
                        startingIndex = 0;
                    }

                    showarticle(startingIndex);
                }

                showarticle(startingIndex);

                setInterval(shownextarticle, 7000);
        })
    </script>
</head>
<body>
    <div style = "background-color: rgb(75, 117, 255); text-align: center;">
        <h1 style = "color: white" class = "distance">Good News of this Month</h1>
        <hr>
    </div>
    <div class  = "news">
        {% for article in articles %}
            <div class = "article">
                <p class = "date">{{ article.date }}</p>
                <img class = "img" src="{{ article.img }}" alt="News Image">
                <p class = "title">{{ article.title }}</p>
                <p class = "summary">{{ article.summary }}</p>
                <hr>
            </div>
        {% else %}
            <p>No news found for this month.</p>
        {% endfor %}
    </div>
</body>
</html>
